# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Streamlit
.streamlit/

# Ignore all CSVs by default
*.csv

# But keep the sample dataset
!data/kindle_data-v2.csv


# OS files
.DS_Store
Thumbs.db

# Jupyter (if used later)
.ipynb_checkpoints/
